<%= form_for(team) do |f| %>

  <p>
    <%= f.label :name, "Team Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    Team Members
    <%= check_box_field team, User, :username %>
  </p>

  <p>
    Projects
    <%= check_box_field team, Project, :name %>
  </p>

  <p>
    <%= f.submit team.persisted? ? "Edit that team, baby" : "Make this team",
    class: "btn-new-update" %>
  </p>

<% end %>

<ul class="nav nav-pills">
  <li class="active">
    <%= undo team %>
  </li>
</ul>