<%= content_for(:title, "Teams") %>

<h1><%= @team.name %></h1>

<h3>Team Members</h3>
<ul>
  <% @team.users.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
</ul>

<h3>Projects</h3>
<ul>
  <% @team.projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
    </li>
  <% end %>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <%= link_to "Edit Team", edit_team_path(@team) %>
  </li>
</ul>
<%= back_to Team %>
