<%= form_for(user) do |f| %>

  <p>
    <%= f.label :username, "User Name" %>
    <%= f.text_field :username %>
  </p>

  <p>
    <h4>Teams</h4>
    <%= check_box_field user, Team, :name %>
  </p>

  <p>
    <%= f.submit user.persisted? ?
            "Edit that user, darling" : "Make a new user",
            class: "btn-new-update" %>
  </p>

<% end %>

<ul class="nav nav-pills">
  <li class="active">
    <%= undo user %>
  </li>
</ul>
