<%= form_for(user) do |f| %>

  <p>
    <%= f.label :username, "User Name" %>
    <%= f.text_field :username %>
  </p>
    <%# if :type == :edit %>
  <p>
    Teams
    <%= check_box_field @user, Team, :name %>
  </p>
    Projects
    <%= check_box_field @user, Project, :name %>
  </p>
    <%= f.submit user.persisted? ?
            "Edit that user, darling" : "Make a new user" %>
  </p>

<% end %>

<% undo @user %>