<%= form_for(project) do |f| %>

  <p>
    <%= f.label :name, "Project Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :team_ids, "Team" %>
    <%= f.collection_select :team_ids, Team.all, :id, :name %>
  </p>

  <p>
    Items
    <%= check_box_field project, Item, :title %>
  </p>

  <p>
    <%= f.submit project.persisted? ?
            "Edit that project, friend" : "Make this project" %>
  </p>

<% end %>


<%= undo project %>