<%= content_for(:title, "Project") %>

<h1><%= @item.title %></h1>
<h2>completed: <%= @item.completed %></h2>

<h3>Item Description</h3>
<p><%= @item.description %></p>

<h3>Teams working on <%= @item.title %></h3>
<ul>
  <% @item.project.teams.each do |team| %>
    <li>
      <%= link_to team.name, team_path(team) %>
    </li>
  <% end %>
</ul>

<h3>People working on <%= @item.title %></h3>
<ul>
  <% @item.project.users.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user) %>
    </li>
  <% end %>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <%= link_to "Edit Item", edit_item_path(@item) %>
    <%= link_to "DELETE", item_path(@item), method: :delete %>
  </li>
</ul>

<%= back_to Project %>
